<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32920">
      <setting id="username" type="text" label="32921" default=""/>
      <setting id="password" type="text" option="hidden" label="32922" default=""/>
    </category>
    <category label="32910">
      <setting id="search_title_in_brackets" type="bool" label="32911" default="true"/>
      <setting id="try_cleanup_title" type="bool" label="32914" default="true" />
    </category>
    <category label="32930">
      <setting id="send_statistics" type="bool" label="32931" default="true" />
    </category>
</settings>
